body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.addAssigns {
  float: left;
  width: 200px;
}
.listAssigns {
  float: left;
  width: 300px;
}